<?php
$CONFIG = array (
  'trusted_domains' =>
  array (
    0 => '135.90.75.222',
  ),
  'datadirectory' => '/data',
  'dbtype' => 'pgsql',
  'version' => '19.0.1.1',
  'overwrite.cli.url' => 'http://135.90.75.222/nextcloud',
  'dbname' => 'nextcloud',
  'dbhost' => "'{{ hpdb_url }}'"
  'dbport' => "'{{ hpdb_port }}'",
  'dbtableprefix' => 'oc_',
  'dbuser' => 'admin',
);