resource "ibm_resource_instance" "nc-hpvs" {
  name = "nextcloud-app"
  plan = "lite-s"
  service = "hpvs"
  location = "{{ hpvs_location }}"
  parameters = {
	"sshPublicKey":"{{ ssh_key }}"
	}
}

resource "ibm_resource_instance" "nc-dbaas" {
  name = "nextcloud-db"
  service = "hyperp-dbaas-postgresql"
  plan = "postgresql-free"
  location = "{{ hpdbaas_location }}"
  parameters = {
	"name":"nextcloud",
	"admin_name":"ncadmin",
	"password":"{{ hpdbaas_password }}",
	"confirm_password":"{{ hpdbaas_password }}"
  }
}